@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.navegation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
}

.logo{
    width: 12%;
}

.button {
    display: flex;
    gap: 20px;
}

.navegation a{
    text-decoration: none;
    font-weight: 600;
    color: #004666;
    font-family: 'Montserrat', Arial, sans-serif;

}

.navegation a:hover{
    color: #df9200;
    transition: 0.3s;
}




@media (min-width:1300px){
    .topnav{
        display: none;
    }

    .banner-mobile{
        display: none;
    }

}

@media (min-width: 1025px) and (max-width:1299px){
    .topnav{
        display: none;
    }

    .banner-mobile{
        display: none;
    }

  
}

@media  (min-width: 769px) and (max-width:1024px){
    .topnav{
        display: none;
    }

    .banner-mobile{
        display: none;
    }
    
    
}

@media (max-width: 768px) {
    .rural {
        flex-direction: column;
        align-items: center;
    }

    .rural1, .rural2, .rural3, .rural4 {
        max-width: 80%;
        height: 250px;  
    }

    .box {
        width: 100%;
    }

    #button-ft {
        padding: 20px;
    }

    .button-ti {
        font-size: 20px;
    }

    .button-pt {
        padding: 15px;
    }

    .txt-bu-ti {
        font-size: 16px;
    }

    #button-ft {
        padding: 20px;
    }

    .button-ti {
        font-size: 20px;
    }

    .button-pt {
        padding: 15px;
    }

    .txt-bu-ti {
        font-size: 16px;
    }

    .navegation{
        display: none;
    }

    .cartoes{
        flex-direction: column;
    }

    .cartoes img{
        width: 100%;
    }

    .banner-desp{
        display: none;
    }

    .banner-app{
        flex-direction: column;
    }

    .banner-app img{
        width: 100%;
    }

}

@media (max-width: 480px) {
    .text{
        padding: 35px;
    }

    .textt{
        padding: 35px;
    }

    .texte{
        padding: 35px;
    }

    .textte{
        padding: 35px;
    }

    .textte a{
        padding: 35px;
    }
}
